body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app-background {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  background-color: #1CDBF5;
  color: white;
  justify-content: flex-start;
  align-items: center;
}
.heading-text {
  color: #1CDBF5;
  font-size: 42px;
  font-weight: bolder;
  text-align: center;
  margin: 50px;
  background-color: #131A28;
  padding: 15px 25px;
  border-radius: 8px;
}
.task-container {
  display: flex;
  max-width: 70vh;
  height: 100%;
  flex-direction: column;
  text-align: center;
  background-color: #131A28;
  color: white;
  border-radius: 8px;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 20px;
  margin: 0 auto 20px;
  min-height: 205px;
}
.text-input {
  border: #1CDBF5 2px solid;
  outline: none;
  border-radius: 8px;
  width: 310px;
  font-size: 18px;
  padding: 10px 15px;
  margin: 0 15px 15px 15px;
  font-weight: bold;
}
.add-button {
  background-color: #1CDBF5;
  outline: none;
  border: none;
  color: #131A28;
  font-size: 17px;
  font-weight: bolder;
  padding: 10px 15px;
  border-radius: 8px;
  text-align: center;
  margin: 15px;
  cursor: pointer;
}
.no-item-text {
  color: #1CDBF5;
  font-size: 17px;
  font-weight: bolder;
  text-align: center;
  margin: 50px;
}
.list-item {
  background-color: #1CDBF5;
  border: none;
  border-radius: 8px;
  width: 450px;
  font-size: 18px;
  padding: 10px 15px;
  margin: 15px 0;
  color: #131A28;
  font-weight: bold;
  text-align: start;
  align-items: center;
  cursor: pointer;
}
.delete-icon {
  height: 26px;
  cursor: pointer;
}
.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.jc-space-between {
  justify-content: space-between;
}